azure-storage-blob
uvicorn
fastapi
langchain==0.3.24
langchain_community
langchain_core
langchain_openai
langgraph
chromadb
# numpy
# openai
# opencv_python
opencv_python_headless
# pandas
# pydantic
python-dotenv
# Requests
torch
ultralytics
